<img class="img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}"
    onerror="this.onerror=null;this.src='./images/img-error.png';" />
</img>
<div class="info" data-id={{id}} data-image={{poster_path}} data-title="{{title}}" data-vote={{vote_average}}
    data-release={{release_date}} data-genres="{{genresName}}">
    <h1 class="upper-text film-name">{{title}}</h1>
    <div class="list-container">
        <ul class="list">
            <li class="list1-item">Vote/Votes</li>
            <li class="list1-item">Popularity</li>
            <li class="list1-item">Original Title</li>
            <li class="list1-item">Genre</li>
        </ul>
        <ul class="list">
            <li class="list2-item">
                <div class="number"><span>{{vote_average}}</span></div>/ {{vote_count}}
            </li>
            <li class="list2-item">{{popularity}}</li>
            <li class="upper-text list2-item">{{original_title}}</li>
            <li class="list2-item">{{genresName}}</li>
        </ul>
    </div>
    <section>
        <h2 class="upper-text about-title">about</h2>
        <p class="about">{{overview}}</p>
    </section>
    <div class="buttons">
        <button class="watched-button modal-buttons"><span class="upper-text">add to watched</span></button>
        <button class="modal-buttons queue-btn"><span class="upper-text">add to queue</span></button>
    </div>
</div>